<header class="navbar">
    <section class="navbar-section">
        <img src="../../../assets/icons/android-chrome-512x512.png" size="64x64" routerLink="/">
    </section>

    <section class="navbar-center">
      <a routerLink="/hn/new" class="btn btn-link btn-secondary">New</a>
      <a routerLink="/hn/jobs" class="btn btn-link">Jobs</a>
      <a routerLink="/hn/ask" class="btn btn-link">Ask</a>
      <a routerLink="/hn/show" class="btn btn-link">Show</a>
    </section>

    <section class="navbar-section hide-sm">
      <a class="built-with" href="https://angular.io" target="_blank" rel="noopener">Built with Angular 5.0</a>
    </section>
  </header>

