.item {
    min-height: 100px;
    border-bottom: lightgray 1px solid;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 700;
    color: #000000;
}

.link {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
}

a:hover {
    color: #f60;
    transition: color 500ms ease;
}


.main-link {
    display: block;
    font-size: 1.3em;
    margin: 1em 0;
    color: #000000;
}


.sub-links {
    font-size: 0.9em;
}
