footer { 
    min-height: 100px; 
    background: #ebebeb; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
}

.btn-primary { margin-left: 5px; }

